.sigcontainer{
    width:500px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
    height: 600px;
}

.logcontainer{
    width:500px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
    height: 400px; 
}

.BillDetails{
    margin-top: 7%;
    font-weight: 40px;
    font-size: 25px;
}

.paymentMethod{
    font-size: 20px;
    font-weight: 20px;
}